extends base

block content 
    main.main
        .error
            .error__title
            h2.heading-secondary.heading-secondary--error This site is still under construction!  
            h2.error__emoji 🥺